.impactSection {
    background: linear-gradient(135deg,
            #082f49,
            #0dcaf0af);
}

.textTitle {
    color: white;
}

.impactCard {
    padding: 2rem;
}

.impactNumber {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 800;
    color: #120733af;
    margin-bottom: .5rem;
}

.impactLabel {
    color: rgba(255, 255, 255, .85);
    font-size: 1rem;
}