/*==FILTRI==*/
.sidebarFilter {
  min-width: 240px;
}

.sidebarFilter :global(.btn) {
  background-color: var(--color-btn);
  color: black;
  border: none;
}

.btnSearch {
  background-color: var(--color-btn);
  color: white !important;
}

.btnSearch:hover {
  background-color: var(--color-btn-soft);
}